body {
    background-color: #003049;
    color: #e5e5e5;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header {
    font-size: 150px;
    text-align: center;
    color: #e5e5e5;
    padding: 15px;
    font-family: "Abril Fatface";
}
nav {
    background-color: #f77f00;
    color: #f77f00;
    height: 20px;
    margin-bottom: 25px;
}
main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 2%;
}
div {
    padding: 1%;
    align-content: center;
    background-color: #e5e5e5;
    color:#003049;
    border-radius: 15px;
    margin-top: 5%;
}
#library {
    grid-column: 1/3;
}
#cubeMode {
    grid-column: 3/5;
}
#galaxy {
    grid-column: 5/7;
}
h1, h2, h3 {
    font-size: 100px;
    text-align: center;;
    margin-top: -1%;
    font-family: "Abril Fatface";
}
h4 {
    font-size: 200%;
    margin-bottom: 0px;
    margin-top: 1.5%;
}
.gif1, .gif2, .gif3 {
    margin-left: 7%;
    display: inline;
    margin-bottom: 5%;
    margin-top: 8%;
    width: 85%;
}
.static, .static2, .static3 {
    position: absolute;
    background: white;
    width: 27.2%;
    height: 32%;
    margin-left: 2.1%;
    margin-top: 2.5%;
}
.static:hover, .static2:hover, .static3:hover {
    opacity:0;
}
.blurb {
    font-size: 30px;
    max-width: 90%;
    text-align: center;
    margin: auto;
    margin-bottom: 50px;
}
a {
    text-decoration: none;
    color: white;
}
p a{
    color: #fca311;
    text-decoration: underline;
}
button:hover {
    background-color: #f4a261;
}
.buttons {
    background-color: #f77f00;
    color: white;
    max-width: 1000px;
    font-size: 40px;
    margin: 40px 10px 20px 40px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    display: block;
    border-color: #fca311;
    box-shadow: none;
    margin: auto;
    margin-bottom: 40px;
}
.button2 {
    margin-top: 105px;
} 
.button3 {
    margin-top: 105px;
}
footer {
    font-size: 30px;
    text-align: center;
    
    margin-top: 10px;
    font-family: "Abril Fatface";
}





/*LARGE/MEDIUM*/
@media only screen and (max-width: 1199px) and (min-width:800px)
{
    body {
        background-color: #003049;
        color: #e5e5e5;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    header {
        font-size: 50px;
        text-align: center;
        color: #e5e5e5;
        padding: 3%;
        font-family: "Abril Fatface";
    }
    nav {
        background-color: #f77f00;
        color: #f77f00;
        height: 20px;
    }
    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: .5fr 0.5fr 0.5fr .5fr;
        column-gap: 1%;
    }
    div {
        padding: 1%;
        align-content: center;
        background-color: #e5e5e5;
        color:#003049;
        border-radius: 15px;
        margin-top: 5%;
    }
    #library {
        grid-column: 1/5;
        grid-row:1/3;
    }
    #cubeMode {
        grid-column: 1/3;
        grid-row: 3/5;
    }
    #galaxy {
        grid-column: 3/5;
        grid-row: 3/5;
    }
    h1, h2, h3 {
        font-size: 400%;
        text-align: center;
        font-family: "Abril Fatface";
    }
    h4 {
        font-size: 200%;
        margin-bottom: 0px;
        margin-top: 1.5%;
    }
    .gif1, .gif2, .gif3 {
        margin-left: 7%;
        display: inline;
        margin-bottom: 5%;
        margin-top: 8%;
        width: 85%;
    }
    .static {
        position: absolute;
        background: white;
        width: 86%;
        height: 100%;
        margin-left: 6.7%;
        margin-top: 7.6%;
    }
    .static3, .static2 {
        position: absolute;
        background: white;
        width: 40.7%;
        height: 49.1%;
        margin-left: 3.4%;
        margin-top: 3.6%;
    }
    .static:hover, .static2:hover, .static3:hover {
        opacity:0;
    }
    .blurb {
        font-size: 30px;
        max-width: 90%;
        text-align: center;
        margin: auto;
        margin-bottom: 50px;
    }
    .buttons {
        background-color: #f77f00;
        color: white;
        max-width: 1000px;
        font-size: 35px;
        margin: 40px 10px 20px 40px;
        padding: 10px;
        text-align: center;
        border-radius: 10px;
        display: block;
        border-color: #fca311;
        box-shadow: none;
        margin: auto;
        margin-bottom: 40px;
    }
    .button1{
        margin-top: 100px;
    }
    .button2 {
        margin-top: 140px;
    } 
    .button3 {
        margin-top: 10px;
    }
    footer {
        font-size: 30px;
        text-align: center;
        
        margin-top: 10px;
        font-family: "Abril Fatface";
    }
}





/*MEDIUM SCREEN*/
@media only screen and (max-width: 799px) and (min-width:400px)
{
    body {
        background-color: #003049;
        color: #e5e5e5;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    header {
        font-size: 100%;
        text-align: center;
        color: #e5e5e5;
        padding: 3%;
        font-family: "Abril Fatface";
    }
    nav {
        background-color: #f77f00;
        color: #f77f00;
        height: 20px;
    }
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.75fr 0.5fr 0.7fr 0.4fr 0.75fr 0.35fr;
        column-gap: 1%;
    }
    div {
        margin: 5%;
        align-content: center;
        background-color: #e5e5e5;
        color:#003049;
        border-radius: 15px;
        margin-top: 5%;
    }
    #library {
        grid-column: 1/3;
        grid-row: 1/3;
    }
    #cubeMode {
        grid-column: 1/3;
        grid-row: 3/5;
    }
    #galaxy {
        grid-column: 1/3;
        grid-row: 5/7;
    }
    h1, h2, h3{
        font-size: 400%;
        margin-left: 16%;
        margin-top: -1%;
        font-family: "Abril Fatface";
    }
    h2 {
        font-size: 400%;
        margin-left: 20%;
        margin-top: -1%;
        font-family: "Abril Fatface";
    }
    h3 {
        font-size: 400%;
        margin-left: 6%;
        margin-top: -1%;
        font-family: "Abril Fatface";
    }
    h4 {
        font-size: 200%;
        margin-bottom: 0px;
        margin-top: 1.5%;
    }
    .gif1, .gif2, .gif3 {
        margin-left: 7%;
        display: inline;
        margin-bottom: 5%;
        margin-top: 8%;
        width: 85%;
    }
    .static, .static2, .static3 {
        position: absolute;
        background: white;
        width: 73%;
        height: 33.5%;
        margin-left: 6%;
        margin-top: 6.9%;
    }
    .static:hover, .static2:hover, .static3:hover {
        opacity:0;
    }
    .blurb {
        font-size: 30px;
        max-width: 90%;
        text-align: center;
        margin: auto;
        margin-bottom: 50px;
    }
    a {
        text-decoration: none;
        color: white;
    }
    p a{
        color: #fca311;
        text-decoration: underline;
    }
    button:hover {
        background-color: #f4a261;
    }
    .buttons {
        background-color: #f77f00;
        color: white;
        max-width: 1000px;
        font-size: 45px;
        margin: 40px 10px 20px 40px;
        padding: 10px;
        text-align: center;
        border-radius: 10px;
        display: block;
        border-color: #fca311;
        box-shadow: none;
        margin: auto;
        margin-bottom: 40px;
    }
    footer {
        font-size: 30px;
        text-align: center;
        
        margin-top: 10px;
        font-family: "Abril Fatface";
    }
}





/*SMALLEST SCREEN*/
@media only screen and (max-width: 399px) and (min-width:100px)
{
    body {
        background-color: #003049;
        color: #e5e5e5;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    header {
        font-size: 200%;
        text-align: center;
        color: #e5e5e5;
        padding: 3%;
        font-family: "Abril Fatface";
    }
    nav {
        background-color: #f77f00;
        color: #f77f00;
        height: 20px;
    }
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.75fr 0.5fr 0.7fr 0.4fr 0.75fr 0.35fr;
        column-gap: 1%;
    }
    div {
        margin: 5%;
        align-content: center;
        background-color: #e5e5e5;
        color:#003049;
        border-radius: 15px;
        margin-top: 5%;
    }
    #library {
        grid-column: 1/3;
        grid-row: 1/3;
    }
    #cubeMode {
        grid-column: 1/3;
        grid-row: 3/5;
    }
    #galaxy {
        grid-column: 1/3;
        grid-row: 5/7;
    }
    h1, h2 {
        font-size: 200%;
        margin-left: 25%;
        margin-top: -0.5%;
        font-family: "Abril Fatface";
    }
    h3 {
        font-size: 200%;
        margin-left: 15%;
        margin-top: -0.5%;
        font-family: "Abril Fatface";
    }
    
    h4 {
        font-size: 200%;
        margin-bottom: 0px;
        margin-top: 1.5%;
    }
    .gif1, .gif2, .gif3 {
        margin-left: 7%;
        display: inline;
        margin-bottom: 5%;
        margin-top: 8%;
        width: 85%;
    }
    .static, .static2, .static3 {
        position: absolute;
        background: white;
        width: 73%;
        height: 18.5%;
        margin-left: 6%;
        margin-top: 6.9%;
    }
    .static:hover, .static2:hover, .static3:hover {
        opacity:0;
    }
    .blurb {
        font-size: 20px;
    }
       .buttons {
        max-width: 500px;
        font-size: 25px;
        margin: 40px 10px 20px 40px;
        margin: auto;
        text-align: center;
        margin-bottom: 20px;
    }
    footer {
        font-size: 15px;
    }
}
