body {
    background-color: #003049;
    color: #e5e5e5;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header {
    font-size: 100px;
    text-align: center;
    color: #e5e5e5;
    padding: 15px;
    font-family: "Abril Fatface";
}
nav {
    background-color: #f77f00;
    color: #f77f00;
    height: 20px;
    margin-bottom: 25px;
}
main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 2%;
}
div {
    padding: 1%;
    align-content: center;
    background-color: #e5e5e5;
    color:#003049;
    border-radius: 15px;
    margin-top: 5%;
}
#library {
    grid-column: 1/3;
}
#cubeMode {
    grid-column: 3/5;
}
#galaxy {
    grid-column: 5/7;
}
h1, h2, h3 {
    font-size: 50px;
    text-align: center;;
    margin-top: -1%;
    font-family: "Abril Fatface";
}
h4 {
    font-size: 200%;
    margin-bottom: 0px;
    margin-top: 1.5%;
}
.gif1, .gif2, .gif3 {
    margin-left: 7%;
    display: inline;
    margin-bottom: 5%;
    margin-top: 8%;
    width: 85%;
}
.static, .static2, .static3 {
    position: absolute;
    background: white;
    width: 27.2%;
    height: 25%;
    margin-left: 2.1%;
    margin-top: 2.4%;
}
.static:hover, .static2:hover, .static3:hover {
    opacity:0;
}
.blurb {
    font-size: 30px;
    max-width: 90%;
    text-align: center;
    margin: auto;
    margin-bottom: 50px;
}
a {
    text-decoration: none;
    color: white;
}
p a{
    color: #fca311;
    text-decoration: underline;
}
button:hover {
    background-color: #f4a261;
}
.buttons {
    background-color: #f77f00;
    color: white;
    max-width: 1000px;
    font-size: 40px;
    margin: 40px 10px 20px 40px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    display: block;
    border-color: #fca311;
    box-shadow: none;
    margin: auto;
    margin-bottom: 40px;
}
.button2 {
    margin-top: 105px;
} 
.button3 {
    margin-top: 105px;
}
footer {
    font-size: 30px;
    text-align: center;
    
    margin-top: 10px;
    font-family: "Abril Fatface";
}
